.custom-cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(205, 135, 214, 0.65);
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease, background-color 0.2s ease;
    z-index: 9999;
    mix-blend-mode: screen;
}

.custom-cursor.hovering {
    width: 40px;
    height: 40px;
    background-color: rgba(205, 135, 214, 0.5);
}